interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.pirateweather.net/forecast/FILTERED_API_KEY/69.6489,18.9551?extend=hourly&units=us
  response:
    body:
      string: "{\"latitude\":69.6489,\"longitude\":18.9551,\"timezone\":\"Europe/Oslo\",\"offset\":1.0,\"elevation\":43,\"currently\":{\"time\":1773877680,\"summary\":\"Drizzle
        and Windy\",\"icon\":\"rain\",\"nearestStormDistance\":0.0,\"nearestStormBearing\":0,\"precipIntensity\":0.0039,\"precipProbability\":0.98,\"precipIntensityError\":0.0105,\"precipType\":\"rain\",\"temperature\":40.06,\"apparentTemperature\":23.69,\"dewPoint\":33.58,\"humidity\":0.77,\"pressure\":990.72,\"windSpeed\":22.7,\"windGust\":33.1,\"windBearing\":196,\"cloudCover\":0.92,\"uvIndex\":0.0,\"visibility\":10.0,\"ozone\":483.6},\"minutely\":{\"summary\":\"Drizzle
        for the hour.\",\"icon\":\"rain\",\"data\":[{\"time\":1773877680,\"precipIntensity\":0.0039,\"precipProbability\":0.98,\"precipIntensityError\":0.0105,\"precipType\":\"rain\"},{\"time\":1773877740,\"precipIntensity\":0.0039,\"precipProbability\":0.98,\"precipIntensityError\":0.0105,\"precipType\":\"rain\"},{\"time\":1773877800,\"precipIntensity\":0.0039,\"precipProbability\":0.98,\"precipIntensityError\":0.0104,\"precipType\":\"rain\"},{\"time\":1773877860,\"precipIntensity\":0.0039,\"precipProbability\":0.98,\"precipIntensityError\":0.0[...]
