interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://mesonet.agron.iastate.edu/json/spcoutlook.py?current=0&day=1&fmt=json&lat=35.7796&lon=-78.6382&time=2026-05-07T12%3A00%3A00Z
  response:
    body:
      string: '{"query_params": {"time": "2026-05-07T12:00:00Z", "lon": -78.6382,
        "lat": 35.7796, "cat": "CATEGORICAL", "day": 1}, "outlook": {"threshold":
        "TSTM", "conditional": null, "utc_product_issue": "2026-05-07T05:32:00Z",
        "utc_issue": "2026-05-07T12:00:00Z", "utc_expire": "2026-05-08T12:00:00Z"},
        "generated_at": "2026-05-08T02:31:43Z"}'
    headers:
      Content-Type:
      - application/json
      X-IEM-ServerID:
      - iemvs42-dc.agron.iastate.edu
    status:
      code: 200
      message: OK
version: 1
