repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^src/accessiweather/weather_gov_api_client/
    -   id: end-of-file-fixer
        exclude: ^src/accessiweather/weather_gov_api_client/
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: debug-statements

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.3
    hooks:
    -   id: ruff
        args: [--fix]
        files: ^(src/|tests/)
        exclude: ^src/accessiweather/(weather_gov_api_client|weatherapi_client)/
    -   id: ruff-format
        files: ^(src/|tests/)
        exclude: ^src/accessiweather/(weather_gov_api_client|weatherapi_client)/
