interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?latitude=39.9643&longitude=-74.8099&current=temperature_2m%2Crelative_humidity_2m%2Capparent_temperature%2Cweather_code%2Cwind_speed_10m%2Cwind_direction_10m%2Cpressure_msl%2Csnowfall%2Csnow_depth%2Cvisibility&daily=sunrise%2Csunset%2Cuv_index_max&temperature_unit=fahrenheit&wind_speed_unit=mph&precipitation_unit=inch&timezone=auto&forecast_days=1
  response:
    body:
      string: "{\"latitude\":39.94885,\"longitude\":-74.79698,\"generationtime_ms\":0.20325183868408203,\"utc_offset_seconds\":-18000,\"timezone\":\"America/New_York\",\"timezone_abbreviation\":\"GMT-5\",\"elevation\":4.0,\"current_units\":{\"time\":\"iso8601\",\"interval\":\"seconds\",\"temperature_2m\":\"\xB0F\",\"relative_humidity_2m\":\"%\",\"apparent_temperature\":\"\xB0F\",\"weather_code\":\"wmo
        code\",\"wind_speed_10m\":\"mp/h\",\"wind_direction_10m\":\"\xB0\",\"pressure_msl\":\"hPa\",\"snowfall\":\"inch\",\"snow_depth\":\"ft\",\"visibility\":\"ft\"},\"current\":{\"time\":\"2025-12-19T07:45\",\"interval\":900,\"temperature_2m\":58.2,\"relative_humidity_2m\":93,\"apparent_temperature\":51.0,\"weather_code\":63,\"wind_speed_10m\":21.9,\"wind_direction_10m\":146,\"pressure_msl\":997.4,\"snowfall\":0.000,\"snow_depth\":0.000,\"visibility\":12467.191},\"daily_units\":{\"time\":\"iso8601\",\"sunrise\":\"iso8601\",\"sunset\":\"iso8601\",\"uv_index_max\":\"\"},\"daily\":{\"time\":[\"2025-12-19\"],\"sunrise\":[\"2025-12-19T07:16\"],\"sunset\":[\"2025-12-19T16:36\"],\"uv_index_max\":[1.40]}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
