interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?forecast_days=2&hourly=temperature_2m%2Cweather_code%2Cwind_speed_10m%2Cwind_direction_10m%2Cpressure_msl%2Cprecipitation_probability%2Csnowfall%2Cuv_index%2Csnow_depth%2Cfreezing_level_height%2Cvisibility%2Capparent_temperature&latitude=40.7128&longitude=-74.006&precipitation_unit=inch&temperature_unit=fahrenheit&timezone=auto&wind_speed_unit=mph
  response:
    body:
      string: "{\"latitude\":40.710335,\"longitude\":-73.99308,\"generationtime_ms\":0.58746337890625,\"utc_offset_seconds\":-18000,\"timezone\":\"America/New_York\",\"timezone_abbreviation\":\"GMT-5\",\"elevation\":32.0,\"hourly_units\":{\"time\":\"iso8601\",\"temperature_2m\":\"\xB0F\",\"weather_code\":\"wmo
        code\",\"wind_speed_10m\":\"mp/h\",\"wind_direction_10m\":\"\xB0\",\"pressure_msl\":\"hPa\",\"precipitation_probability\":\"%\",\"snowfall\":\"inch\",\"uv_index\":\"\",\"snow_depth\":\"ft\",\"freezing_level_height\":\"ft\",\"visibility\":\"ft\",\"apparent_temperature\":\"\xB0F\"},\"hourly\":{\"time\":[\"2026-01-19T00:00\",\"2026-01-19T01:00\",\"2026-01-19T02:00\",\"2026-01-19T03:00\",\"2026-01-19T04:00\",\"2026-01-19T05:00\",\"2026-01-19T06:00\",\"2026-01-19T07:00\",\"2026-01-19T08:00\",\"2026-01-19T09:00\",\"2026-01-19T10:00\",\"2026-01-19T11:00\",\"2026-01-19T12:00\",\"2026-01-19T13:00\",\"2026-01-19T14:00\",\"2026-01-19T15:00\",\"2026-01-19T16:00\",\"2026-01-19T17:00\",\"2026-01-19T18:00\",\"2026-01-19T19:00\",\"2026-01-19T20:00\",\"2026-01-19T21:00\",\"2026-01-19T22:00\",\"2026[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?current=temperature_2m%2Crelative_humidity_2m%2Capparent_temperature%2Cweather_code%2Cwind_speed_10m%2Cwind_direction_10m%2Cpressure_msl%2Csnowfall%2Csnow_depth%2Cvisibility&daily=sunrise%2Csunset%2Cuv_index_max&forecast_days=1&latitude=40.7128&longitude=-74.006&precipitation_unit=inch&temperature_unit=fahrenheit&timezone=auto&wind_speed_unit=mph
  response:
    body:
      string: "{\"latitude\":40.710335,\"longitude\":-73.99308,\"generationtime_ms\":0.23031234741210938,\"utc_offset_seconds\":-18000,\"timezone\":\"America/New_York\",\"timezone_abbreviation\":\"GMT-5\",\"elevation\":32.0,\"current_units\":{\"time\":\"iso8601\",\"interval\":\"seconds\",\"temperature_2m\":\"\xB0F\",\"relative_humidity_2m\":\"%\",\"apparent_temperature\":\"\xB0F\",\"weather_code\":\"wmo
        code\",\"wind_speed_10m\":\"mp/h\",\"wind_direction_10m\":\"\xB0\",\"pressure_msl\":\"hPa\",\"snowfall\":\"inch\",\"snow_depth\":\"ft\",\"visibility\":\"ft\"},\"current\":{\"time\":\"2026-01-19T00:00\",\"interval\":900,\"temperature_2m\":30.4,\"relative_humidity_2m\":91,\"apparent_temperature\":23.9,\"weather_code\":3,\"wind_speed_10m\":5.0,\"wind_direction_10m\":297,\"pressure_msl\":1010.5,\"snowfall\":0.000,\"snow_depth\":0.098,\"visibility\":45603.676},\"daily_units\":{\"time\":\"iso8601\",\"sunrise\":\"iso8601\",\"sunset\":\"iso8601\",\"uv_index_max\":\"\"},\"daily\":{\"time\":[\"2026-01-19\"],\"sunrise\":[\"2026-01-19T07:15\"],\"sunset\":[\"2026-01-19T16:57\"],\"uv_index_max\":[3.15]}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?daily=temperature_2m_max%2Ctemperature_2m_min%2Cweather_code%2Cwind_speed_10m_max%2Cwind_direction_10m_dominant%2Cprecipitation_probability_max%2Csnowfall_sum%2Cuv_index_max&forecast_days=7&latitude=40.7128&longitude=-74.006&precipitation_unit=inch&temperature_unit=fahrenheit&timezone=auto&wind_speed_unit=mph
  response:
    body:
      string: "{\"latitude\":40.710335,\"longitude\":-73.99308,\"generationtime_ms\":0.43201446533203125,\"utc_offset_seconds\":-18000,\"timezone\":\"America/New_York\",\"timezone_abbreviation\":\"GMT-5\",\"elevation\":32.0,\"daily_units\":{\"time\":\"iso8601\",\"temperature_2m_max\":\"\xB0F\",\"temperature_2m_min\":\"\xB0F\",\"weather_code\":\"wmo
        code\",\"wind_speed_10m_max\":\"mp/h\",\"wind_direction_10m_dominant\":\"\xB0\",\"precipitation_probability_max\":\"%\",\"snowfall_sum\":\"inch\",\"uv_index_max\":\"\"},\"daily\":{\"time\":[\"2026-01-19\",\"2026-01-20\",\"2026-01-21\",\"2026-01-22\",\"2026-01-23\",\"2026-01-24\",\"2026-01-25\"],\"temperature_2m_max\":[31.4,19.2,33.0,37.5,30.8,18.7,16.8],\"temperature_2m_min\":[18.2,11.3,17.2,30.3,20.3,9.8,8.5],\"weather_code\":[3,3,3,3,3,3,3],\"wind_speed_10m_max\":[16.2,18.6,14.8,13.7,15.4,16.5,15.0],\"wind_direction_10m_dominant\":[245,259,218,237,281,324,326],\"precipitation_probability_max\":[2,0,0,13,6,15,24],\"snowfall_sum\":[0.000,0.000,0.000,0.000,0.000,0.000,0.000],\"uv_index_max\":[3.15,3.05,2.65,3.10,2.25,2.55,2.85]}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.weather.gov/points/40.7128,-74.006
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/40.7128,-74.006\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -74.006,\n            40.7128\n        ]\n    },\n    \"properties\":
        {\n        \"@id\": \"https://api.weather.gov/points/40.7128,-74.006\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"OKX\",\n        \"type\":
        \"land\",\n        \"forecastOffice\": \"https://api.weather.gov/offices/OKX\",\n
        \       \"gridId\": \"OKX\",\n        \"gridX\": 33,\n        \"gridY\": 35,\n
        \       \"forecast\": \"https://api.weather.gov/gridpoints/OKX/33,35/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/OKX/33,35/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/OKX/33,35\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/OKX/33,35/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -74.027926,\n                    40.745251\n                ]\n
        \           },\n            \"properties\": {\n                \"city\": \"Hoboken\",\n
        \               \"state\": \"NJ\",\n                \"distance\": {\n                    \"unitCode\":
        \"wmoUnit:m\",\n                    \"value\": 4053.889432394\n                },\n
        \               \"bearing\": {\n                    \"unitCode\": \"wmoUnit:degree_(angle)\",\n
        \                   \"value\": 152\n                }\n            }\n        },\n
        \       \"forecastZone\": \"https://api.weather.gov/zones/forecast/NYZ072\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/NYC061\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/NYZ212\",\n        \"timeZone\": \"America/New_York\",\n
        \       \"radarStation\": \"KDIX\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - aba0ce6
      X-Edge-Request-ID:
      - 4621e74e
      X-Server-ID:
      - vm-cprk-api-ops-app9.ncep.noaa.gov
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.weather.gov/gridpoints/OKX/33,35/stations
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \          [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.weather.gov/stations/KNYC
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"htt[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.weather.gov/stations/KNYC/tafs
  response:
    body:
      string: "{\n    \"@context\": {\n        \"@version\": \"1.1\"\n    },\n    \"@graph\":
        []\n}"
    headers:
      Content-Type:
      - application/ld+json
      X-Correlation-ID:
      - 9fd1a36
      X-Edge-Request-ID:
      - 4621e7a6
      X-Server-ID:
      - vm-cprk-api-ops-app8.ncep.noaa.gov
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://aviationweather.gov/api/data/taf?format=json&ids=KNYC
  response:
    body:
      string: ''
    headers:
      x-fd-int-roxy-purgeid:
      - '66958926'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://aviationweather.gov/api/data/taf?format=json&ids=KNYC
  response:
    body:
      string: ''
    headers:
      x-fd-int-roxy-purgeid:
      - '66958926'
    status:
      code: 204
      message: No Content
version: 1
