interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?forecast_days=2&hourly=temperature_2m%2Cweather_code%2Cwind_speed_10m%2Cwind_direction_10m%2Cpressure_msl%2Cprecipitation_probability%2Csnowfall%2Cuv_index%2Csnow_depth%2Cfreezing_level_height%2Cvisibility%2Capparent_temperature&latitude=51.5074&longitude=-0.1278&precipitation_unit=inch&temperature_unit=fahrenheit&timezone=auto&wind_speed_unit=mph
  response:
    body:
      string: "{\"latitude\":51.5,\"longitude\":-0.120000124,\"generationtime_ms\":0.2988576889038086,\"utc_offset_seconds\":0,\"timezone\":\"Europe/London\",\"timezone_abbreviation\":\"GMT\",\"elevation\":16.0,\"hourly_units\":{\"time\":\"iso8601\",\"temperature_2m\":\"\xB0F\",\"weather_code\":\"wmo
        code\",\"wind_speed_10m\":\"mp/h\",\"wind_direction_10m\":\"\xB0\",\"pressure_msl\":\"hPa\",\"precipitation_probability\":\"%\",\"snowfall\":\"inch\",\"uv_index\":\"\",\"snow_depth\":\"ft\",\"freezing_level_height\":\"ft\",\"visibility\":\"ft\",\"apparent_temperature\":\"\xB0F\"},\"hourly\":{\"time\":[\"2026-01-19T00:00\",\"2026-01-19T01:00\",\"2026-01-19T02:00\",\"2026-01-19T03:00\",\"2026-01-19T04:00\",\"2026-01-19T05:00\",\"2026-01-19T06:00\",\"2026-01-19T07:00\",\"2026-01-19T08:00\",\"2026-01-19T09:00\",\"2026-01-19T10:00\",\"2026-01-19T11:00\",\"2026-01-19T12:00\",\"2026-01-19T13:00\",\"2026-01-19T14:00\",\"2026-01-19T15:00\",\"2026-01-19T16:00\",\"2026-01-19T17:00\",\"2026-01-19T18:00\",\"2026-01-19T19:00\",\"2026-01-19T20:00\",\"2026-01-19T21:00\",\"2026-01-19T22:00\",\"2026[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?daily=temperature_2m_max%2Ctemperature_2m_min%2Cweather_code%2Cwind_speed_10m_max%2Cwind_direction_10m_dominant%2Cprecipitation_probability_max%2Csnowfall_sum%2Cuv_index_max&forecast_days=7&latitude=51.5074&longitude=-0.1278&precipitation_unit=inch&temperature_unit=fahrenheit&timezone=auto&wind_speed_unit=mph
  response:
    body:
      string: "{\"latitude\":51.5,\"longitude\":-0.120000124,\"generationtime_ms\":0.3679990768432617,\"utc_offset_seconds\":0,\"timezone\":\"Europe/London\",\"timezone_abbreviation\":\"GMT\",\"elevation\":16.0,\"daily_units\":{\"time\":\"iso8601\",\"temperature_2m_max\":\"\xB0F\",\"temperature_2m_min\":\"\xB0F\",\"weather_code\":\"wmo
        code\",\"wind_speed_10m_max\":\"mp/h\",\"wind_direction_10m_dominant\":\"\xB0\",\"precipitation_probability_max\":\"%\",\"snowfall_sum\":\"inch\",\"uv_index_max\":\"\"},\"daily\":{\"time\":[\"2026-01-19\",\"2026-01-20\",\"2026-01-21\",\"2026-01-22\",\"2026-01-23\",\"2026-01-24\",\"2026-01-25\"],\"temperature_2m_max\":[51.9,50.0,48.0,47.9,48.6,47.4,41.6],\"temperature_2m_min\":[45.7,46.5,43.7,45.6,43.8,40.9,36.4],\"weather_code\":[80,3,80,61,3,61,61],\"wind_speed_10m_max\":[7.7,11.2,12.4,9.9,12.8,13.9,7.3],\"wind_direction_10m_dominant\":[149,158,130,122,138,151,26],\"precipitation_probability_max\":[18,43,56,35,45,12,20],\"snowfall_sum\":[0.000,0.000,0.000,0.000,0.000,0.000,0.000],\"uv_index_max\":[0.80,0.65,0.15,1.15,1.40,1.25,1.20]}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?current=temperature_2m%2Crelative_humidity_2m%2Capparent_temperature%2Cweather_code%2Cwind_speed_10m%2Cwind_direction_10m%2Cpressure_msl%2Csnowfall%2Csnow_depth%2Cvisibility&daily=sunrise%2Csunset%2Cuv_index_max&forecast_days=1&latitude=51.5074&longitude=-0.1278&precipitation_unit=inch&temperature_unit=fahrenheit&timezone=auto&wind_speed_unit=mph
  response:
    body:
      string: "{\"latitude\":51.5,\"longitude\":-0.120000124,\"generationtime_ms\":0.20134449005126953,\"utc_offset_seconds\":0,\"timezone\":\"Europe/London\",\"timezone_abbreviation\":\"GMT\",\"elevation\":16.0,\"current_units\":{\"time\":\"iso8601\",\"interval\":\"seconds\",\"temperature_2m\":\"\xB0F\",\"relative_humidity_2m\":\"%\",\"apparent_temperature\":\"\xB0F\",\"weather_code\":\"wmo
        code\",\"wind_speed_10m\":\"mp/h\",\"wind_direction_10m\":\"\xB0\",\"pressure_msl\":\"hPa\",\"snowfall\":\"inch\",\"snow_depth\":\"ft\",\"visibility\":\"ft\"},\"current\":{\"time\":\"2026-01-19T05:00\",\"interval\":900,\"temperature_2m\":46.4,\"relative_humidity_2m\":93,\"apparent_temperature\":43.9,\"weather_code\":2,\"wind_speed_10m\":2.4,\"wind_direction_10m\":131,\"pressure_msl\":1013.9,\"snowfall\":0.000,\"snow_depth\":0.000,\"visibility\":23622.047},\"daily_units\":{\"time\":\"iso8601\",\"sunrise\":\"iso8601\",\"sunset\":\"iso8601\",\"uv_index_max\":\"\"},\"daily\":{\"time\":[\"2026-01-19\"],\"sunrise\":[\"2026-01-19T07:55\"],\"sunset\":[\"2026-01-19T16:27\"],\"uv_index_max\":[0.80]}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
