interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.weather.gov/alerts/active?point=40.7128%2C-74.006
  response:
    body:
      string: "{\n    \"@context\": {\n        \"@version\": \"1.1\"\n    },\n    \"type\":
        \"FeatureCollection\",\n    \"features\": [],\n    \"title\": \"Current watches,
        warnings, and advisories for 40.7128 N, 74.006 W\",\n    \"updated\": \"2026-01-19T05:02:08+00:00\"\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 6f9dd9c
      X-Edge-Request-ID:
      - 31d831c
      X-Server-ID:
      - vm-cprk-api-ops-app16.ncep.noaa.gov
    status:
      code: 200
      message: OK
version: 1
