interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.weather.gov/alerts/active?point=61.2181%2C-149.9003
  response:
    body:
      string: "{\n    \"@context\": {\n        \"@version\": \"1.1\"\n    },\n    \"type\":
        \"FeatureCollection\",\n    \"features\": [],\n    \"title\": \"Current watches,
        warnings, and advisories for 61.2181 N, 149.9003 W\",\n    \"updated\": \"2026-01-18T15:00:00+00:00\"\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 6f9e437
      X-Edge-Request-ID:
      - 31793cf
      X-Server-ID:
      - vm-cprk-api-ops-app5.ncep.noaa.gov
    status:
      code: 200
      message: OK
version: 1
