interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.weather.gov/points/40.7128,-74.006
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/40.7128,-74.006\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -74.006,\n            40.7128\n        ]\n    },\n    \"properties\":
        {\n        \"@id\": \"https://api.weather.gov/points/40.7128,-74.006\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"OKX\",\n        \"type\":
        \"land\",\n        \"forecastOffice\": \"https://api.weather.gov/offices/OKX\",\n
        \       \"gridId\": \"OKX\",\n        \"gridX\": 33,\n        \"gridY\": 35,\n
        \       \"forecast\": \"https://api.weather.gov/gridpoints/OKX/33,35/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/OKX/33,35/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/OKX/33,35\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/OKX/33,35/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -74.027926,\n                    40.745251\n                ]\n
        \           },\n            \"properties\": {\n                \"city\": \"Hoboken\",\n
        \               \"state\": \"NJ\",\n                \"distance\": {\n                    \"unitCode\":
        \"wmoUnit:m\",\n                    \"value\": 4053.889432394\n                },\n
        \               \"bearing\": {\n                    \"unitCode\": \"wmoUnit:degree_(angle)\",\n
        \                   \"value\": 152\n                }\n            }\n        },\n
        \       \"forecastZone\": \"https://api.weather.gov/zones/forecast/NYZ072\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/NYC061\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/NYZ212\",\n        \"timeZone\": \"America/New_York\",\n
        \       \"radarStation\": \"KDIX\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 118a4286
      X-Edge-Request-ID:
      - 31d876f
      X-Server-ID:
      - vm-cprk-api-ops-app2.ncep.noaa.gov
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.weather.gov/products/types/AFD/locations/OKX
  response:
    body:
      string: "{\n    \"@context\": {\n        \"@version\": \"1.1\",\n        \"@vocab\":
        \"https://api.weather.gov/ontology#\"\n    },\n    \"@graph\": [\n        {\n
        \           \"@id\": \"https://api.weather.gov/products/bdb45bc8-aa3a-473c-bc13-aa079f05f816\",\n
        \           \"id\": \"bdb45bc8-aa3a-473c-bc13-aa079f05f816\",\n            \"wmoCollectiveId\":
        \"FXUS61\",\n            \"issuingOffice\": \"KOKX\",\n            \"issuanceTime\":
        \"2026-01-20T14:35:00+00:00\",\n            \"productCode\": \"AFD\",\n            \"productName\":
        \"Area Forecast Discussion\"\n        },\n        {\n            \"@id\":
        \"https://api.weather.gov/products/d9c98104-98a5-4993-9815-ccf24b0c8310\",\n
        \           \"id\": \"d9c98104-98a5-4993-9815-ccf24b0c8310\",\n            \"wmoCollectiveId\":
        \"FXUS61\",\n            \"issuingOffice\": \"KOKX\",\n            \"issuanceTime\":
        \"2026-01-20T11:32:00+00:00\",\n            \"productCode\": \"AFD\",\n            \"productName\":
        \"Area Forecast Dis[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.weather.gov/products/bdb45bc8-aa3a-473c-bc13-aa079f05f816
  response:
    body:
      string: "{\n    \"@context\": {\n        \"@version\": \"1.1\",\n        \"@vocab\":
        \"https://api.weather.gov/ontology#\"\n    },\n    \"@id\": \"https://api.weather.gov/products/bdb45bc8-aa3a-473c-bc13-aa079f05f816\",\n
        \   \"id\": \"bdb45bc8-aa3a-473c-bc13-aa079f05f816\",\n    \"wmoCollectiveId\":
        \"FXUS61\",\n    \"issuingOffice\": \"KOKX\",\n    \"issuanceTime\": \"2026-01-20T14:35:00+00:00\",\n
        \   \"productCode\": \"AFD\",\n    \"productName\": \"Area Forecast Discussion\",\n
        \   \"productText\": \"\\n000\\nFXUS61 KOKX 201435\\nAFDOKX\\n\\nArea Forecast
        Discussion\\nNational Weather Service New York NY\\n935 AM EST Tue Jan 20
        2026\\n\\n.WHAT HAS CHANGED...\\nNo significant changes made to forecast.\\n\\n&&\\n\\n.KEY
        MESSAGES...\\n1.) Temperatures remain below normal through at least early
        next \\nweek with the exception of Thursday.\\n\\n2.) Potential for snow late
        Saturday into Sunday.\\n\\n&&\\n\\n.DISCUSSION...\\n.KEY MESSAGE 1...\\nSome
      [...]
