interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.weather.gov/points/0.0,0.0
  response:
    body:
      string: "{\n    \"correlationId\": \"119a8954\",\n    \"title\": \"Data Unavailable
        For Requested Point\",\n    \"type\": \"https://api.weather.gov/problems/InvalidPoint\",\n
        \   \"status\": 404,\n    \"detail\": \"Unable to provide data for requested
        point 0,0\",\n    \"instance\": \"https://api.weather.gov/requests/119a8954\"\n}"
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-ID:
      - 119a8954
      X-Edge-Request-ID:
      - 31d8b63
      X-Server-ID:
      - vm-cprk-api-ops-app1.ncep.noaa.gov
    status:
      code: 404
      message: Not Found
version: 1
