interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.weather.gov/points/61.2181,-149.9003
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/61.2181,-149.9003\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -149.9003,\n            61.2181\n        ]\n    },\n    \"properties\":
        {\n        \"@id\": \"https://api.weather.gov/points/61.2181,-149.9003\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"AFC\",\n        \"type\":
        \"land\",\n        \"forecastOffice\": \"https://api.weather.gov/offices/AFC\",\n
        \       \"gridId\": \"AER\",\n        \"gridX\": 143,\n        \"gridY\":
        236,\n        \"forecast\": \"https://api.weather.gov/gridpoints/AER/143,236/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/AER/143,236/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/AER/143,236\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/AER/143,236/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -150.16935,\n                    61.355597\n                ]\n
        \           },\n            \"properties\": {\n                \"city\": \"Point
        MacKenzie\",\n                \"state\": \"AK\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        20984.08291461\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 136\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/AKZ701\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/AKC020\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/AKZ701\",\n        \"timeZone\": \"America/Anchorage\",\n
        \       \"radarStation\": \"PAHG\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 119a34e7
      X-Edge-Request-ID:
      - 31d791d
      X-Server-ID:
      - vm-cprk-api-ops-app2.ncep.noaa.gov
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.weather.gov/gridpoints/AER/143,236/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -149.8596,\n                    61.2008\n                ],\n
        \               [\n                    -149.8595,\n                    61.2277\n
        \               ],\n                [\n                    -149.9154,\n                    61.2278\n
        \               ],\n                [\n                    -149.9155,\n                    61.2009\n
        \               ],\n                [\n                    -149.8596,\n                    61.2008\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"units\": \"us\",\n        \"forecastGenerator\": \"BaselineForecastGenerator\",\n
        \       \"generatedAt\": \"2026-01-20T18:51:23+00:00\",\n        \"updateTime\":
        \"2026-01-20T12:19:24+00:00\",\n        \"validTimes\": \"2026-01-20T06:00:00+00:00/P7DT19H\",\n
        \       \"elevation\": {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\":
        29.8704\n        },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2026-01-20T09:00:00-09:00\",\n
        \               \"endTime\": \"2026-01-20T18:00:00-09:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 27,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        4\n                },\n                \"windSpeed\": \"0 mph\",\n                \"windDirection\":
        \"\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/sct?size=medium\",\n
        \               \"shortForecast\": \"Mostly Sunny\",\n                \"detailedForecast\":
        \"Mostly sunny. High near 27, with temperatures falling to around 22 in the
        afternoon. North wind around 0 mph.\"\n            },\n            {\n                \"number\":
        2,\n                \"name\": \"Tonight\",\n                \"startTime\":
        \"2026-01-20T18:00:00-09:00\",\n                \"endTime\": \"2026-01-21T06:00:00-09:00\",\n
        \               \"isDaytime\": false,\n                \"temperature\": 11,\n
        \               \"temperatureU[...]
