interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.weather.gov/points/40.7128,-74.006
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/40.7128,-74.006\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -74.006,\n            40.7128\n        ]\n    },\n    \"properties\":
        {\n        \"@id\": \"https://api.weather.gov/points/40.7128,-74.006\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"OKX\",\n        \"type\":
        \"land\",\n        \"forecastOffice\": \"https://api.weather.gov/offices/OKX\",\n
        \       \"gridId\": \"OKX\",\n        \"gridX\": 33,\n        \"gridY\": 35,\n
        \       \"forecast\": \"https://api.weather.gov/gridpoints/OKX/33,35/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/OKX/33,35/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/OKX/33,35\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/OKX/33,35/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -74.027926,\n                    40.745251\n                ]\n
        \           },\n            \"properties\": {\n                \"city\": \"Hoboken\",\n
        \               \"state\": \"NJ\",\n                \"distance\": {\n                    \"unitCode\":
        \"wmoUnit:m\",\n                    \"value\": 4053.889432394\n                },\n
        \               \"bearing\": {\n                    \"unitCode\": \"wmoUnit:degree_(angle)\",\n
        \                   \"value\": 152\n                }\n            }\n        },\n
        \       \"forecastZone\": \"https://api.weather.gov/zones/forecast/NYZ072\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/NYC061\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/NYZ212\",\n        \"timeZone\": \"America/New_York\",\n
        \       \"radarStation\": \"KDIX\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 153b069
      X-Edge-Request-ID:
      - 3175cfe
      X-Server-ID:
      - vm-cprk-api-ops-app8.ncep.noaa.gov
    status:
      code: 200
      message: OK
version: 1
