interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.weather.gov/points/51.5074,-0.1278
  response:
    body:
      string: "{\n    \"correlationId\": \"6f998c1\",\n    \"title\": \"Data Unavailable
        For Requested Point\",\n    \"type\": \"https://api.weather.gov/problems/InvalidPoint\",\n
        \   \"status\": 404,\n    \"detail\": \"Unable to provide data for requested
        point 51.5074,-0.1278\",\n    \"instance\": \"https://api.weather.gov/requests/6f998c1\"\n}"
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-ID:
      - 6f998c1
      X-Edge-Request-ID:
      - '3177914'
      X-Server-ID:
      - vm-cprk-api-ops-app8.ncep.noaa.gov
    status:
      code: 404
      message: Not Found
version: 1
