interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.weather.gov/points/39.9643,-74.8099
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/39.9643,-74.8099\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -74.8099,\n            39.9643\n        ]\n    },\n    \"properties\":
        {\n        \"@id\": \"https://api.weather.gov/points/39.9643,-74.8099\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"PHI\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/PHI\",\n        \"gridId\": \"PHI\",\n        \"gridX\":
        62,\n        \"gridY\": 78,\n        \"forecast\": \"https://api.weather.gov/gridpoints/PHI/62,78/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/PHI/62,78/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/PHI/62,78\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/PHI/62,78/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -74.685498,\n                    39.970819\n                ]\n
        \           },\n            \"properties\": {\n                \"city\": \"Pemberton\",\n
        \               \"state\": \"NJ\",\n                \"distance\": {\n                    \"unitCode\":
        \"wmoUnit:m\",\n                    \"value\": 10626.39367441\n                },\n
        \               \"bearing\": {\n                    \"unitCode\": \"wmoUnit:degree_(angle)\",\n
        \                   \"value\": 266\n                }\n            }\n        },\n
        \       \"forecastZone\": \"https://api.weather.gov/zones/forecast/NJZ019\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/NJC005\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/NJZ019\",\n        \"timeZone\": \"America/New_York\",\n
        \       \"radarStation\": \"KDIX\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - '13829132'
      X-Edge-Request-ID:
      - 88eb082
      X-Server-ID:
      - vm-bldr-api-ops-app12.ncep.noaa.gov
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Feature-Flags:
      - forecast_temperature_qv, forecast_wind_speed_qv
    method: GET
    uri: https://api.weather.gov/gridpoints/PHI/62,78/forecast/hourly
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -74.7941,\n                    39.9492\n                ],\n
        \               [\n                    -74.7898,\n                    39.971\n
        \               ],\n                [\n                    -74.8183,\n                    39.9743\n
        \               ],\n                [\n                    -74.8225,\n                    39.9525\n
        \               ],\n                [\n                    -74.7941,\n                    39.9492\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"units\": \"us\",\n        \"forecastGenerator\": \"HourlyForecastGenerator\",\n
        \       \"generatedAt\": \"2025-12-19T13:00:21+00:00\",\n        \"updateTime\":
        \"2025-12-19T09:11:43+00:00\",\n        \"validTimes\": \"2025-12-19T03:00:00+00:00/P7DT22H\",\n
        \       \"elevation\": {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\":
        3.048\n        },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"\",\n                \"startTime\": \"2025-12-19T08:00:00-05:00\",\n
        \               \"endTime\": \"2025-12-19T09:00:00-05:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 13.88888888888889\n                },\n
        \               \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        77\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 13.88888888888889\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 100\n                },\n
        \               \"windSpeed\": {\n                    \"unitCode\": \"wmoUnit:km_h-1\",\n
        \                   \"value\": 40.2336\n                },\n                \"windGust\":
        {\n                    \"unitCode\": \"wmoUnit:km_h-1\",\n                    \"value\":
        64.37376\n                },\n                \"windDirection\": \"S\",\n
        \               \"icon\": \"https://api.weather.gov/icons/land/day/tsra,80?size=small\",\n
        \               \"shortForecast\": \"Rain\",\n                \"detailedForecast\":
        \"\"\n            },\n            {\n                \"number\": 2,\n                \"name\":
        \"\",\n                \"startTime\": \"2025-12-19T09:00:00-05:00\",\n                \"endTime\":
        \"2025-12-19T10:00:00-05:00\",\n                \"isDaytime\": true,\n                \"temperature\":
        {\n                    \"unitCode\": \"wmoUnit:degC\",\n                    \"value\":
        15.555555555555555\n                },\n                \"temperatureTrend\[...]
