interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.weather.gov/points/39.9643,-74.8099
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/39.9643,-74.8099\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -74.8099,\n            39.9643\n        ]\n    },\n    \"properties\":
        {\n        \"@id\": \"https://api.weather.gov/points/39.9643,-74.8099\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"PHI\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/PHI\",\n        \"gridId\": \"PHI\",\n        \"gridX\":
        62,\n        \"gridY\": 78,\n        \"forecast\": \"https://api.weather.gov/gridpoints/PHI/62,78/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/PHI/62,78/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/PHI/62,78\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/PHI/62,78/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -74.685498,\n                    39.970819\n                ]\n
        \           },\n            \"properties\": {\n                \"city\": \"Pemberton\",\n
        \               \"state\": \"NJ\",\n                \"distance\": {\n                    \"unitCode\":
        \"wmoUnit:m\",\n                    \"value\": 10626.39367441\n                },\n
        \               \"bearing\": {\n                    \"unitCode\": \"wmoUnit:degree_(angle)\",\n
        \                   \"value\": 266\n                }\n            }\n        },\n
        \       \"forecastZone\": \"https://api.weather.gov/zones/forecast/NJZ019\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/NJC005\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/NJZ019\",\n        \"timeZone\": \"America/New_York\",\n
        \       \"radarStation\": \"KDIX\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - '13829132'
      X-Edge-Request-ID:
      - 4b3ca74
      X-Server-ID:
      - vm-bldr-api-ops-app12.ncep.noaa.gov
    status:
      code: 200
      message: OK
version: 1
