interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/40.7128,-74.006?include=alerts&unitGroup=us
  response:
    body:
      string: '{"queryCost":1,"latitude":40.7128,"longitude":-74.006,"resolvedAddress":"40.7128,-74.006","address":"40.7128,-74.006","timezone":"America/New_York","tzoffset":-5.0,"days":[{"datetime":"2026-01-20","datetimeEpoch":1768885200,"tempmax":26.4,"tempmin":16.5,"temp":20.0,"feelslikemax":13.9,"feelslikemin":2.0,"feelslike":7.8,"dew":1.7,"humidity":44.5,"precip":0.0,"precipprob":0.0,"precipcover":0.0,"preciptype":null,"snow":0.0,"snowdepth":1.4,"windgust":30.0,"windspeed":17.2,"winddir":272.6,"pressure":1025.9,"cloudcover":9.4,"visibility":10.0,"solarradiation":128.3,"solarenergy":11.1,"uvindex":5.0,"severerisk":10.0,"sunrise":"07:15:29","sunriseEpoch":1768911329,"sunset":"16:59:13","sunsetEpoch":1768946353,"moonphase":0.07,"conditions":"Clear","description":"Clear
        conditions throughout the day.","icon":"clear-day","stations":["KEWR","KLGA","F1417","KNYC"],"source":"comb"},{"datetime":"2026-01-21","datetimeEpoch":1768971600,"tempmax":35.0,"tempmin":15.0,"temp":25.1,"feelslikemax":27.3,"feelslikemin":6.2,"feelslike":16.3,"dew":12.1,"humidity":57.6,"precip":0.0,"precipprob":14.0,"precipcover":0.0,"preciptype":null,"snow":0.0,"snowdepth":1.3,"windgust":20.8,"windspeed":12.8,"winddir":215.0,"pressure":1028.9,"cloudcover":42.1,"visibility":10.1,"solarradiation":111.2,"solarenergy":9.6,"uvindex":4.0,"severerisk":10.0,"sunrise":"07:14:53","sunriseEpoch":176899769[...]
