interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/51.5074,-0.1278?elements=temp%2Cfeelslike%2Chumidity%2Cwindspeed%2Cwinddir%2Cpressure%2Cconditions%2Cdatetime%2Csunrise%2Csunset%2Cmoonrise%2Cmoonset%2Cmoonphase%2CsunriseEpoch%2CsunsetEpoch%2CmoonriseEpoch%2CmoonsetEpoch%2Csnowdepth%2Cpreciptype%2Cwindchill%2Cheatindex%2Csevererisk%2Cvisibility&include=current%2Cdays&numDays=1&unitGroup=us
  response:
    body:
      string: '{"queryCost":1,"latitude":51.5074,"longitude":-0.1278,"resolvedAddress":"51.5074,-0.1278","address":"51.5074,-0.1278","timezone":"Europe/London","tzoffset":0.0,"days":[{"datetime":"2026-01-20","temp":48.4,"feelslike":43.7,"humidity":81.5,"preciptype":["rain"],"snowdepth":0.0,"windspeed":16.6,"winddir":151.4,"pressure":1008.5,"visibility":7.0,"severerisk":10.0,"sunrise":"07:54:46","sunriseEpoch":1768895686,"sunset":"16:28:55","sunsetEpoch":1768926535,"moonphase":0.06,"moonrise":"08:58:48","moonriseEpoch":1768899528,"moonset":"18:24:08","moonsetEpoch":1768933448,"conditions":"Rain,
        Partially cloudy"},{"datetime":"2026-01-21","temp":46.4,"feelslike":42.1,"humidity":89.3,"preciptype":["rain"],"snowdepth":0.0,"windspeed":13.6,"winddir":151.8,"pressure":993.0,"visibility":12.8,"severerisk":10.0,"sunrise":"07:53:41","sunriseEpoch":1768982021,"sunset":"16:30:36","sunsetEpoch":1769013036,"moonphase":0.09,"moonrise":"09:13:13","moonriseEpoch":1768986793,"moonset":"19:43:42","moonsetEpoch":1769024622,"conditions":"Rain,
        Overcast"},{"datetime":"2026-01-22","te[...]
