interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/40.7128,-74.006?elements=temp%2Cfeelslike%2Chumidity%2Cwindspeed%2Cwinddir%2Cpressure%2Cconditions%2Cdatetime%2Csunrise%2Csunset%2Cmoonrise%2Cmoonset%2Cmoonphase%2CsunriseEpoch%2CsunsetEpoch%2CmoonriseEpoch%2CmoonsetEpoch%2Csnowdepth%2Cpreciptype%2Cwindchill%2Cheatindex%2Csevererisk%2Cvisibility&include=current%2Cdays&numDays=1&unitGroup=us
  response:
    body:
      string: '{"queryCost":1,"latitude":40.7128,"longitude":-74.006,"resolvedAddress":"40.7128,-74.006","address":"40.7128,-74.006","timezone":"America/New_York","tzoffset":-5.0,"days":[{"datetime":"2026-01-20","temp":20.0,"feelslike":7.8,"humidity":44.5,"preciptype":null,"snowdepth":1.4,"windspeed":17.2,"winddir":272.6,"pressure":1025.9,"visibility":10.0,"severerisk":10.0,"sunrise":"07:15:29","sunriseEpoch":1768911329,"sunset":"16:59:13","sunsetEpoch":1768946353,"moonphase":0.07,"moonrise":"08:29:04","moonriseEpoch":1768915744,"moonset":"19:00:53","moonsetEpoch":1768953653,"conditions":"Clear"},{"datetime":"2026-01-21","temp":25.1,"feelslike":16.3,"humidity":57.6,"preciptype":null,"snowdepth":1.3,"windspeed":12.8,"winddir":215.0,"pressure":1028.9,"visibility":10.1,"severerisk":10.0,"sunrise":"07:14:53","sunriseEpoch":1768997693,"sunset":"17:00:24","sunsetEpoch":1769032824,"moonphase":0.1,"moonrise":"08:53:30","moonriseEpoch":1769003610,"moonset":"20:08:27","moonsetEpoch":1769044107,"conditions":"Partially
        cloudy"},{"datetime":"2026-01-22","temp":37.3,"feelslike":29.8,"[...]
