interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/40.7128,-74.006?elements=datetime%2Ctempmax%2Ctempmin%2Ctemp%2Cconditions%2Cdescription%2Cwindspeed%2Cwinddir%2Cicon%2Cprecipprob%2Csnow%2Cuvindex%2Csnowdepth%2Cpreciptype%2Cwindchill%2Cheatindex%2Csevererisk%2Cvisibility%2Cfeelslikemax%2Cfeelslikemin&include=days&unitGroup=us
  response:
    body:
      string: '{"queryCost":1,"latitude":40.7128,"longitude":-74.006,"resolvedAddress":"40.7128,-74.006","address":"40.7128,-74.006","timezone":"America/New_York","tzoffset":-5.0,"days":[{"datetime":"2026-01-20","tempmax":26.4,"tempmin":16.5,"temp":20.3,"feelslikemax":13.9,"feelslikemin":2.0,"precipprob":0.0,"preciptype":null,"snow":0.0,"snowdepth":1.5,"windspeed":16.3,"winddir":272.5,"visibility":10.0,"uvindex":5.0,"severerisk":10.0,"conditions":"Clear","description":"Clear
        conditions throughout the day.","icon":"clear-day"},{"datetime":"2026-01-21","tempmax":36.0,"tempmin":18.0,"temp":26.5,"feelslikemax":28.1,"feelslikemin":8.1,"precipprob":1.0,"preciptype":["rain"],"snow":0.0,"snowdepth":1.3,"windspeed":11.4,"winddir":216.7,"visibility":10.1,"uvindex":4.0,"severerisk":10.0,"conditions":"Partially
        cloudy","description":"Partly cloudy throughout the day.","icon":"partly-cloudy-day"},{"datetime":"2026-01-22","tempmax":40.9,"tempmin":33.7,"temp":36.9,"feelslikemax":33.7,"feelslikemin":26.5,"precip[...]
