interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/40.7128,-74.006/2026-01-18/2026-01-20?elements=datetime%2Ctempmax%2Ctempmin%2Ctemp%2Cconditions%2Cdescription%2Cwindspeed%2Cwinddir%2Cicon%2Cprecipprob%2Csnow%2Cuvindex&include=days&unitGroup=us
  response:
    body:
      string: '{"queryCost":3,"latitude":40.7128,"longitude":-74.006,"resolvedAddress":"40.7128,-74.006","address":"40.7128,-74.006","timezone":"America/New_York","tzoffset":-5.0,"days":[{"datetime":"2026-01-18","tempmax":34.6,"tempmin":31.2,"temp":33.0,"precipprob":100.0,"snow":1.9,"windspeed":10.0,"winddir":0.3,"uvindex":1.0,"conditions":"Snow,
        Overcast","description":"Cloudy skies throughout the day with snow.","icon":"snow"},{"datetime":"2026-01-19","tempmax":31.4,"tempmin":23.0,"temp":28.4,"precipprob":0.0,"snow":1.2,"windspeed":15.2,"winddir":259.0,"uvindex":5.0,"conditions":"Partially
        cloudy","description":"Partly cloudy throughout the day.","icon":"partly-cloudy-day"},{"datetime":"2026-01-20","tempmax":26.4,"tempmin":16.5,"temp":20.3,"precipprob":0.0,"snow":0.0,"windspeed":16.3,"winddir":272.5,"uvindex":5.0,"conditions":"Clear","description":"Clear
        conditions throughout the day.","icon":"clear-day"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
