interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/40.7128,-74.006?elements=datetime%2Ctemp%2Cconditions%2Cwindspeed%2Cwinddir%2Cicon%2Cprecipprob%2Csnow%2Cuvindex%2Csnowdepth%2Cpreciptype%2Cwindchill%2Cheatindex%2Cvisibility%2Cfeelslike&include=hours&unitGroup=us
  response:
    body:
      string: '{"queryCost":1,"latitude":40.7128,"longitude":-74.006,"resolvedAddress":"40.7128,-74.006","address":"40.7128,-74.006","timezone":"America/New_York","tzoffset":-5.0,"days":[{"datetime":"2026-01-20","temp":20.3,"feelslike":7.9,"precipprob":0.0,"preciptype":null,"snow":0.0,"snowdepth":1.5,"windspeed":16.3,"winddir":272.5,"visibility":10.0,"uvindex":5.0,"conditions":"Clear","icon":"clear-day","hours":[{"datetime":"00:00:00","temp":26.4,"feelslike":13.9,"precipprob":0.0,"snow":0.0,"snowdepth":1.26,"preciptype":null,"windspeed":16.3,"winddir":270.0,"visibility":9.9,"uvindex":0.0,"conditions":"Partially
        cloudy","icon":"partly-cloudy-night"},{"datetime":"01:00:00","temp":24.4,"feelslike":12.7,"precipprob":0.0,"snow":0.0,"snowdepth":1.94,"preciptype":null,"windspeed":13.0,"winddir":281.0,"visibility":9.9,"uvindex":0.0,"conditions":"Clear","icon":"clear-night"},{"datetime":"02:00:00","temp[...]
