interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/39.9643,-74.8099/2026-01-21/2026-01-21?key=REDACTED&include=days&unitGroup=us&elements=datetime%2Ctempmax%2Ctempmin%2Ctemp%2Cconditions%2Cdescription%2Cwindspeed%2Cwinddir%2Cicon%2Cprecipprob%2Csnow%2Cuvindex
  response:
    body:
      string: '{"queryCost":1,"latitude":39.9643,"longitude":-74.8099,"resolvedAddress":"39.9643,-74.8099","address":"39.9643,-74.8099","timezone":"America/New_York","tzoffset":-5.0,"days":[{"datetime":"2026-01-21","tempmax":33.5,"tempmin":21.3,"temp":27.2,"precipprob":0.0,"snow":null,"windspeed":14.3,"winddir":220.4,"uvindex":null,"conditions":"Partially
        cloudy","description":"","icon":"partly-cloudy-day","normal":{"tempmax":[17.7,33.5,61.1],"tempmin":[8.7,21.3,40.9],"windspeed":[6.9,14.3,25.3],"winddir":[57.1,220.4,337.9]}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
