interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/39.9643,-74.8099/2025-12-20/2025-12-22?key=REDACTED&include=days&unitGroup=us&elements=datetime%2Ctempmax%2Ctempmin%2Ctemp%2Cconditions%2Cdescription%2Cwindspeed%2Cwinddir%2Cicon%2Cprecipprob%2Csnow%2Cuvindex
  response:
    body:
      string: '{"queryCost":3,"latitude":39.9643,"longitude":-74.8099,"resolvedAddress":"39.9643,-74.8099","address":"39.9643,-74.8099","timezone":"America/New_York","tzoffset":-5.0,"days":[{"datetime":"2025-12-20","tempmax":38.9,"tempmin":27.0,"temp":31.1,"precipprob":0.0,"snow":0.0,"windspeed":17.7,"winddir":261.7,"uvindex":5.0,"conditions":"Clear","description":"Clear
        conditions throughout the day.","icon":"clear-day"},{"datetime":"2025-12-21","tempmax":47.0,"tempmin":30.0,"temp":39.2,"precipprob":0.0,"snow":0.0,"windspeed":16.0,"winddir":277.0,"uvindex":3.0,"conditions":"Clear","description":"Clear
        conditions throughout the day.","icon":"clear-day"},{"datetime":"2025-12-22","tempmax":38.0,"tempmin":25.0,"temp":30.6,"precipprob":0.0,"snow":0.0,"windspeed":10.2,"winddir":286.1,"uvindex":5.0,"conditions":"Clear","description":"Clear
        conditions throughout the day.","icon":"clear-day"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
