interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.wxindex.org/v1/stations/WXK27
  response:
    body:
      string: '{"callsign":"WXK27","state_name":"Texas","state_slug":"TX","city":"Austin","frequency":"162.400","wfo":"Austin/San
        Antonio TX","status":"NORMAL","latitude":30.3219,"longitude":-97.8033,"tower_site":"Austin","power":"1010","served_counties":[{"county":"Bastrop","same_code":"048021","state":"TX","area":"All"},{"county":"Blanco","same_code":"048031","state":"TX","area":"All"},{"county":"Burnet","same_code":"048053","state":"TX","area":"All"},{"county":"Caldwell","same_code":"048055","state":"TX","area":"All"},{"county":"Hays","same_code":"048209","state":"TX","area":"All"},{"county":"Lee","same_code":"048287","state":"TX","area":"All"},{"county":"Travis","same_code":"048453","state":"TX","area":"All"},{"county":"Williamson","same_code":"048491","state":"TX","area":"All"}],"feeds":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
