interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.wxindex.org/v1/states
  response:
    body:
      string: '[{"state_name":"Alabama","state_slug":"AL","station_count":21,"stations_with_feeds":2},{"state_name":"Alaska","state_slug":"AK","station_count":52,"stations_with_feeds":0},{"state_name":"American
        Samoa","state_slug":"AS","station_count":2,"stations_with_feeds":0},{"state_name":"Arizona","state_slug":"AZ","station_count":13,"stations_with_feeds":3},{"state_name":"Arkansas","state_slug":"AR","station_count":19,"stations_with_feeds":1},{"state_name":"California","state_slug":"CA","station_count":35,"stations_with_feeds":10},{"state_name":"Colorado","state_slug":"CO","stati[...]
