interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://archive-api.open-meteo.com/v1/archive?latitude=40.7128&longitude=-74.006&start_date=2025-11-22&end_date=2025-11-28&daily=temperature_2m_max&daily=temperature_2m_min&daily=weather_code&temperature_unit=fahrenheit&timezone=auto
  response:
    body:
      string: "{\"latitude\":40.738136,\"longitude\":-74.04254,\"generationtime_ms\":0.21719932556152344,\"utc_offset_seconds\":-18000,\"timezone\":\"America/New_York\",\"timezone_abbreviation\":\"GMT-5\",\"elevation\":32.0,\"daily_units\":{\"time\":\"iso8601\",\"temperature_2m_max\":\"\xB0F\",\"temperature_2m_min\":\"\xB0F\",\"weather_code\":\"wmo
        code\"},\"daily\":{\"time\":[\"2025-11-22\",\"2025-11-23\",\"2025-11-24\",\"2025-11-25\",\"2025-11-26\",\"2025-11-27\",\"2025-11-28\"],\"temperature_2m_max\":[51.6,45.6,52.2,55.0,59.5,48.6,42.0],\"temperature_2m_min\":[37.7,30.3,39.4,37.0,50.4,35.1,31.9],\"weather_code\":[61,3,3,63,53,3,2]}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
