interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?current=temperature_2m%2Crelative_humidity_2m%2Capparent_temperature%2Cis_day%2Cprecipitation%2Cweather_code%2Ccloud_cover%2Cpressure_msl%2Csurface_pressure%2Cwind_speed_10m%2Cwind_direction_10m%2Cwind_gusts_10m%2Cuv_index%2Csnowfall%2Csnow_depth%2Cvisibility&daily=sunrise%2Csunset%2Cuv_index_max&forecast_days=1&latitude=40.7128&longitude=-74.006&precipitation_unit=inch&temperature_unit=fahrenheit&timezone=auto&wind_speed_unit=mph
  response:
    body:
      string: '{"latitude":40.710335,"longitude":-73.99307,"generationtime_ms":0.123,"utc_offset_seconds":-18000,"timezone":"America/New_York","timezone_abbreviation":"EST","elevation":10.0,"current_units":{"time":"iso8601","interval":"seconds","temperature_2m":"\u00b0F","relative_humidity_2m":"%","apparent_temperature":"\u00b0F","is_day":"","precipitation":"inch","weather_code":"wmo
        code","cloud_cover":"%","pressure_msl":"hPa","surface_pressure":"hPa","wind_speed_10m":"mp/h","wind_direction_10m":"\u00b0","wind_gusts_10m":"mp/h","uv_index":"","snowfall":"inch","snow_depth":"inch","visibility":"ft"},"current":{"time":"2025-01-15T12:00","interval":900,"temperature_2m":45.5,"relative_humidity_2m":65,"apparent_temperature":42.3,"is_day":1,"precipitation":0.0,"weather_code":2,"cloud_cover":50,"pressure_msl":1020.5,"surface_pressure":1019.2,"wind_speed_10m":8.5,"wind_direction_10m":270,"wind_gusts_10m":15.2,"uv_index":2.5,"snowfall":0.0,"snow_depth":0.0,"visibility":32808},"daily_units":{"time":"iso8601","sunrise":"iso8601","sunset":"iso8601","uv_index_max":""},"daily":{"time":["2025-01-15"],"sunrise":["2025-01-15T07:15"],"sunset":["2025-01-15T16:55"],"uv_index_max":[3.2]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?current=apparent_temperature&current=cloud_cover&current=dew_point_2m&current=is_day&current=precipitation&current=pressure_msl&current=relative_humidity_2m&current=snow_depth&current=snowfall&current=surface_pressure&current=temperature_2m&current=uv_index&current=visibility&current=weather_code&current=wind_direction_10m&current=wind_gusts_10m&current=wind_speed_10m&daily=sunrise&daily=sunset&daily=uv_index_max&forecast_days=1&latitude=40.7128&longitude=-74.006&precipitation_unit=inch&temperature_unit=fahrenheit&timezone=auto&wind_speed_unit=mph
  response:
    body:
      string: "{\"latitude\":40.710335,\"longitude\":-73.99308,\"generationtime_ms\":0.2601146697998047,\"utc_offset_seconds\":-14400,\"timezone\":\"America/New_York\",\"timezone_abbreviation\":\"GMT-4\",\"elevation\":32.0,\"current_units\":{\"time\":\"iso8601\",\"interval\":\"seconds\",\"temperature_2m\":\"\xB0F\",\"relative_humidity_2m\":\"%\",\"dew_point_2m\":\"\xB0F\",\"apparent_temperature\":\"\xB0F\",\"is_day\":\"\",\"precipitation\":\"inch\",\"weather_code\":\"wmo
        code\",\"cloud_cover\":\"%\",\"pressure_msl\":\"hPa\",\"surface_pressure\":\"hPa\",\"wind_speed_10m\":\"mp/h\",\"wind_direction_10m\":\"\xB0\",\"wind_gusts_10m\":\"mp/h\",\"uv_index\":\"\",\"snowfall\":\"inch\",\"snow_depth\":\"ft\",\"visibility\":\"ft\"},\"current\":{\"time\":\"2026-05-11T18:30\",\"interval\":900,\"temperature_2m\":60.9,\"relative_humidity_2m\":31,\"dew_point_2m\":30.1,\"apparent_temperature\":55.9,\"is_day\":1,\"precipitation\":0.000,\"weather_code\":1,\"cloud_cover\":47,\"pressure_msl\":1018.0,\"surface_pressure\":1014.2,\"wind_speed_10m\":2.1,\"wind_direction_10m\":238,\"wind_gusts_10m\":11.9,\"uv_index\":1.20,\"snowfall\":0.000,\"snow_depth\":0.000,\"visibility\":201115.484},\"daily_units\":{\"time\":\"iso8601\",\"sunrise\":\"iso8601\",\"sunset\":\"iso8601\",\"uv_index_max\":\"\"},\"daily\":{\"time\":[\"2026-05-11\"],\"sunrise\":[\"2026-05-11T05:42\"],\"sunset\":[\"2026-05-11T20:02\"],\"uv_index_max\":[5.15]}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
