interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?current=apparent_temperature&current=cloud_cover&current=is_day&current=precipitation&current=pressure_msl&current=relative_humidity_2m&current=snow_depth&current=snowfall&current=surface_pressure&current=temperature_2m&current=uv_index&current=visibility&current=weather_code&current=wind_direction_10m&current=wind_gusts_10m&current=wind_speed_10m&daily=sunrise&daily=sunset&daily=uv_index_max&forecast_days=1&latitude=40.7128&longitude=-74.006&precipitation_unit=inch&temperature_unit=fahrenheit&timezone=auto&wind_speed_unit=mph
  response:
    body:
      string: "{\"latitude\":40.710335,\"longitude\":-73.99308,\"generationtime_ms\":0.1989603042602539,\"utc_offset_seconds\":-18000,\"timezone\":\"America/New_York\",\"timezone_abbreviation\":\"GMT-5\",\"elevation\":32.0,\"current_units\":{\"time\":\"iso8601\",\"interval\":\"seconds\",\"temperature_2m\":\"\xB0F\",\"relative_humidity_2m\":\"%\",\"apparent_temperature\":\"\xB0F\",\"is_day\":\"\",\"precipitation\":\"inch\",\"weather_code\":\"wmo
        code\",\"cloud_cover\":\"%\",\"pressure_msl\":\"hPa\",\"surface_pressure\":\"hPa\",\"wind_speed_10m\":\"mp/h\",\"wind_direction_10m\":\"\xB0\",\"wind_gusts_10m\":\"mp/h\",\"uv_index\":\"\",\"snowfall\":\"inch\",\"snow_depth\":\"ft\",\"visibility\":\"ft\"},\"current\":{\"time\":\"2026-01-20T14:15\",\"interval\":900,\"temperature_2m\":21.7,\"relative_humidity_2m\":35,\"apparent_temperature\":8.1,\"is_day\":1,\"precipitation\":0.000,\"weather_code\":0,\"cloud_cover\":2,\"pressure_msl\":1026.9,\"surface_pressure\":1022.7,\"wind_speed_10m\":16.1,\"wind_direction_10m\":266,\"wind_gusts_10m\":23.9,\"uv_index\":2.40,\"snowfall\":0.000,\"snow_depth\":0.000,\"visibility\":182742.781},\"daily_units\":{\"time\":\"iso8601\",\"sunrise\":\"iso8601\",\"sunset\":\"iso8601\",\"uv_index_max\":\"\"},\"daily\":{\"time\":[\"2026-01-20\"],\"sunrise\":[\"2026-01-20T07:15\"],\"sunset\":[\"2026-01-20T16:58\"],\"uv_index_max\":[3.05]}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
