interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?current=temperature_2m%2Crelative_humidity_2m%2Capparent_temperature%2Cis_day%2Cprecipitation%2Cweather_code%2Ccloud_cover%2Cpressure_msl%2Csurface_pressure%2Cwind_speed_10m%2Cwind_direction_10m%2Cwind_gusts_10m%2Cuv_index%2Csnowfall%2Csnow_depth%2Cvisibility&daily=sunrise%2Csunset%2Cuv_index_max&forecast_days=1&latitude=51.5074&longitude=-0.1278&precipitation_unit=inch&temperature_unit=fahrenheit&timezone=auto&wind_speed_unit=mph
  response:
    body:
      string: '{"latitude":51.5,"longitude":-0.125,"generationtime_ms":0.089,"utc_offset_seconds":0,"timezone":"Europe/London","timezone_abbreviation":"GMT","elevation":25.0,"current_units":{"time":"iso8601","interval":"seconds","temperature_2m":"\u00b0F","relative_humidity_2m":"%","apparent_temperature":"\u00b0F","is_day":"","precipitation":"inch","weather_code":"wmo
        code","cloud_cover":"%","pressure_msl":"hPa","surface_pressure":"hPa","wind_speed_10m":"mp/h","wind_direction_10m":"\u00b0","wind_gusts_10m":"mp/h","uv_index":"","snowfall":"inch","snow_depth":"inch","visibility":"ft"},"current":{"time":"2025-01-15T17:00","interval":900,"temperature_2m":48.2,"relative_humidity_2m":78,"apparent_temperature":44.1,"is_day":0,"precipitation":0.0,"weather_code":3,"cloud_cover":85,"pressure_msl":1015.3,"surface_pressure":1014.1,"wind_speed_10m":12.3,"wind_direction_10m":225,"wind_gusts_10m":22.5,"uv_index":0.0,"snowfall":0.0,"snow_depth":0.0,"visibility":26247},"daily_units":{"time":"iso8601","sunrise":"iso8601","sunset":"iso8601","uv_index_max":""},"daily":{"time":["2025-01-15"],"sunrise":["2025-01-15T08:02"],"sunset":["2025-01-15T16:15"],"uv_index_max":[1.5]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?current=apparent_temperature&current=cloud_cover&current=dew_point_2m&current=is_day&current=precipitation&current=pressure_msl&current=relative_humidity_2m&current=snow_depth&current=snowfall&current=surface_pressure&current=temperature_2m&current=uv_index&current=visibility&current=weather_code&current=wind_direction_10m&current=wind_gusts_10m&current=wind_speed_10m&daily=sunrise&daily=sunset&daily=uv_index_max&forecast_days=1&latitude=51.5074&longitude=-0.1278&precipitation_unit=inch&temperature_unit=fahrenheit&timezone=auto&wind_speed_unit=mph
  response:
    body:
      string: "{\"latitude\":51.51147,\"longitude\":-0.13078308,\"generationtime_ms\":0.31769275665283203,\"utc_offset_seconds\":3600,\"timezone\":\"Europe/London\",\"timezone_abbreviation\":\"GMT+1\",\"elevation\":16.0,\"current_units\":{\"time\":\"iso8601\",\"interval\":\"seconds\",\"temperature_2m\":\"\xB0F\",\"relative_humidity_2m\":\"%\",\"dew_point_2m\":\"\xB0F\",\"apparent_temperature\":\"\xB0F\",\"is_day\":\"\",\"precipitation\":\"inch\",\"weather_code\":\"wmo
        code\",\"cloud_cover\":\"%\",\"pressure_msl\":\"hPa\",\"surface_pressure\":\"hPa\",\"wind_speed_10m\":\"mp/h\",\"wind_direction_10m\":\"\xB0\",\"wind_gusts_10m\":\"mp/h\",\"uv_index\":\"\",\"snowfall\":\"inch\",\"snow_depth\":\"ft\",\"visibility\":\"ft\"},\"current\":{\"time\":\"2026-05-11T23:30\",\"interval\":900,\"temperature_2m\":47.3,\"relative_humidity_2m\":55,\"dew_point_2m\":31.9,\"apparent_temperature\":41.3,\"is_day\":0,\"precipitation\":0.000,\"weather_code\":0,\"cloud_cover\":0,\"pressure_msl\":1016.2,\"surface_pressure\":1014.2,\"wind_speed_10m\":5.1,\"wind_direction_10m\":61,\"wind_gusts_10m\":11.6,\"uv_index\":0.00,\"snowfall\":0.000,\"snow_depth\":0.000,\"visibility\":92454.070},\"daily_units\":{\"time\":\"iso8601\",\"sunrise\":\"iso8601\",\"sunset\":\"iso8601\",\"uv_index_max\":\"\"},\"daily\":{\"time\":[\"2026-05-11\"],\"sunrise\":[\"2026-05-11T05:14\"],\"sunset\":[\"2026-05-11T20:39\"],\"uv_index_max\":[2.15]}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
