interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?latitude=40.7128&longitude=-74.006&daily=weather_code%2Ctemperature_2m_max%2Ctemperature_2m_min%2Capparent_temperature_max%2Capparent_temperature_min%2Csunrise%2Csunset%2Cprecipitation_sum%2Cprecipitation_probability_max%2Cwind_speed_10m_max%2Cwind_gusts_10m_max%2Cwind_direction_10m_dominant%2Cuv_index_max%2Csnowfall_sum&temperature_unit=fahrenheit&wind_speed_unit=mph&precipitation_unit=inch&timezone=auto&forecast_days=16
  response:
    body:
      string: '{"latitude":40.710335,"longitude":-73.99307,"generationtime_ms":0.189,"utc_offset_seconds":-18000,"timezone":"America/New_York","timezone_abbreviation":"EST","elevation":10.0,"daily_units":{"time":"iso8601","weather_code":"wmo code","temperature_2m_max":"\u00b0F","temperature_2m_min":"\u00b0F"},"daily":{"time":["2025-01-15","2025-01-16","2025-01-17","2025-01-18","2025-01-19","2025-01-20","2025-01-21","2025-01-22","2025-01-23","2025-01-24","2025-01-25","2025-01-26","2025-01-27","2025-01-28","2025-01-29","2025-01-30"],"weather_code":[2,3,61,1,0,2,3,1,2,61,3,0,1,2,3,61],"temperature_2m_max":[48.5,52.1,45.2,50.8,55.3,51.2,49.8,53.5,48.2,44.8,50.2,54.8,52.1,49.5,47.2,45.8],"temperature_2m_min":[35.2,38.5,32.1,36.8,40.2,37.5,35.8,39.2,34.5,31.2,36.5,39.8,37.2,35.5,33.2,31.8]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
