interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?latitude=40.7128&longitude=-74.006&hourly=temperature_2m%2Crelative_humidity_2m%2Capparent_temperature%2Cprecipitation_probability%2Cprecipitation%2Cweather_code%2Cpressure_msl%2Csurface_pressure%2Ccloud_cover%2Cwind_speed_10m%2Cwind_direction_10m%2Cwind_gusts_10m%2Cis_day%2Csnowfall%2Cuv_index%2Csnow_depth%2Cfreezing_level_height%2Cvisibility&temperature_unit=fahrenheit&wind_speed_unit=mph&precipitation_unit=inch&timezone=auto&forecast_hours=48
  response:
    body:
      string: '{"latitude":40.710335,"longitude":-73.99307,"generationtime_ms":0.212,"utc_offset_seconds":-18000,"timezone":"America/New_York","timezone_abbreviation":"EST","elevation":10.0,"hourly_units":{"time":"iso8601","temperature_2m":"\u00b0F","relative_humidity_2m":"%","apparent_temperature":"\u00b0F","precipitation_probability":"%","precipitation":"inch","weather_code":"wmo code","pressure_msl":"hPa","surface_pressure":"hPa","cloud_cover":"%","wind_speed_10m":"mp/h","wind_direction_10m":"\u00b0","wind_gusts_10m":"mp/h","is_day":"","snowfall":"inch","uv_index":"","snow_depth":"inch","freezing_level_height":"ft","visibility":"ft"},"hourly":{"time":["2025-01-15T00:00","2025-01-15T01:00","2025-01-15T02:00","2025-01-15T03:00","2025-01-15T04:00","2025-01-15T05:00","2025-01-15T06:00","2025-01-15T07:00","2025-01-15T08:00","2025-01-15T09:00","2025-01-15T10:00","2025-01-15T11:00","2025-01-15T12:00","2025-01-15T13:00","2025-01-15T14:00","2025-01-15T15:00","2025-01-15T16:00","2025-01-15T17:00","2025-01-15T18:00","2025-01-15T19:00","2025-01-15T20:00","2025-01-15T21:00","2025-01-15T22:00","2025-01-15T23:00"],"temperature_2m":[38.5,37.8,37.2,3[...]
