interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?latitude=39.9643&longitude=-74.8099&current=temperature_2m&current=relative_humidity_2m&current=apparent_temperature&current=is_day&current=precipitation&current=weather_code&current=cloud_cover&current=pressure_msl&current=surface_pressure&current=wind_speed_10m&current=wind_direction_10m&current=wind_gusts_10m&current=uv_index&current=snowfall&current=snow_depth&current=visibility&daily=sunrise&daily=sunset&daily=uv_index_max&temperature_unit=fahrenheit&wind_speed_unit=mph&precipitation_unit=inch&timezone=auto&forecast_days=1
  response:
    body:
      string: "{\"latitude\":39.94885,\"longitude\":-74.79698,\"generationtime_ms\":0.1881122589111328,\"utc_offset_seconds\":-18000,\"timezone\":\"America/New_York\",\"timezone_abbreviation\":\"GMT-5\",\"elevation\":4.0,\"current_units\":{\"time\":\"iso8601\",\"interval\":\"seconds\",\"temperature_2m\":\"\xB0F\",\"relative_humidity_2m\":\"%\",\"apparent_temperature\":\"\xB0F\",\"is_day\":\"\",\"precipitation\":\"inch\",\"weather_code\":\"wmo
        code\",\"cloud_cover\":\"%\",\"pressure_msl\":\"hPa\",\"surface_pressure\":\"hPa\",\"wind_speed_10m\":\"mp/h\",\"wind_direction_10m\":\"\xB0\",\"wind_gusts_10m\":\"mp/h\",\"uv_index\":\"\",\"snowfall\":\"inch\",\"snow_depth\":\"ft\",\"visibility\":\"ft\"},\"current\":{\"time\":\"2025-12-18T19:45\",\"interval\":900,\"temperature_2m\":44.5,\"relative_humidity_2m\":94,\"apparent_temperature\":40.4,\"is_day\":0,\"precipitation\":0.000,\"weather_code\":3,\"cloud_cover\":100,\"pressure_msl\":1018.2,\"surface_pressure\":1017.7,\"wind_speed_10m\":5.6,\"wind_direction_10m\":106,\"wind_gusts_10m\":13.2,\"uv_index\":0.00,\"snowfall\":0.000,\"snow_depth\":0.000,\"visibility\":41010.500},\"daily_units\":{\"time\":\"iso8601\",\"sunrise\":\"iso8601\",\"sunset\":\"iso8601\",\"uv_index_max\":\"\"},\"daily\":{\"time\":[\"2025-12-18\"],\"sunrise\":[\"2025-12-18T07:15\"],\"sunset\":[\"2025-12-18T16:36\"],\"uv_index_max\":[2.70]}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
