interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?latitude=39.9643&longitude=-74.8099&hourly=temperature_2m&hourly=relative_humidity_2m&hourly=apparent_temperature&hourly=precipitation_probability&hourly=precipitation&hourly=weather_code&hourly=pressure_msl&hourly=surface_pressure&hourly=cloud_cover&hourly=wind_speed_10m&hourly=wind_direction_10m&hourly=wind_gusts_10m&hourly=is_day&hourly=snowfall&hourly=uv_index&hourly=snow_depth&hourly=freezing_level_height&hourly=visibility&temperature_unit=fahrenheit&wind_speed_unit=mph&precipitation_unit=inch&timezone=auto&forecast_hours=48
  response:
    body:
      string: "{\"latitude\":39.94885,\"longitude\":-74.79698,\"generationtime_ms\":0.42557716369628906,\"utc_offset_seconds\":-18000,\"timezone\":\"America/New_York\",\"timezone_abbreviation\":\"GMT-5\",\"elevation\":4.0,\"hourly_units\":{\"time\":\"iso8601\",\"temperature_2m\":\"\xB0F\",\"relative_humidity_2m\":\"%\",\"apparent_temperature\":\"\xB0F\",\"precipitation_probability\":\"%\",\"precipitation\":\"inch\",\"weather_code\":\"wmo
        code\",\"pressure_msl\":\"hPa\",\"surface_pressure\":\"hPa\",\"cloud_cover\":\"%\",\"wind_speed_10m\":\"mp/h\",\"wind_direction_10m\":\"\xB0\",\"wind_gusts_10m\":\"mp/h\",\"is_day\":\"\",\"snowfall\":\"inch\",\"uv_index\":\"\",\"snow_depth\":\"ft\",\"freezing_level_height\":\"ft\",\"visibility\":\"ft\"},\"hourly\":{\"time\":[\"2025-12-18T19:00\",\"2025-12-18T20:00\",\"2025-12-18T21:00\",\"2025-12-18T22:00\",\"2025-12-18T23:00\",\"2025-12-19T00:00\",\"2025-12-19T01:00\",\"2025-12-19T02:00\",\"2025-12-19T03:00\",\"2025-12-19T04:00\",\"2025-12-19T05:00\",\"2025-12-19T06:00\",\"2025-12-19T07:00\",\"2025-12-19T08:00\",\"2025-12-19T09:00\",\"2025-12-19T10:00\",\"2025-12-19T11:00\",\"2025-12-19T12:00\",\"2025-12-19T13:00\",\"2025-12-19T14:00\",\"2025-12-19T15:00\",\"2025-12-19T16:00\",\"2025-12-19T17:00\",\"2025[...]
