interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?latitude=39.9643&longitude=-74.8099&daily=weather_code&daily=temperature_2m_max&daily=temperature_2m_min&daily=apparent_temperature_max&daily=apparent_temperature_min&daily=sunrise&daily=sunset&daily=precipitation_sum&daily=precipitation_probability_max&daily=wind_speed_10m_max&daily=wind_gusts_10m_max&daily=wind_direction_10m_dominant&daily=uv_index_max&daily=snowfall_sum&temperature_unit=fahrenheit&wind_speed_unit=mph&precipitation_unit=inch&timezone=auto&forecast_days=7
  response:
    body:
      string: "{\"latitude\":39.94885,\"longitude\":-74.79698,\"generationtime_ms\":0.6444454193115234,\"utc_offset_seconds\":-18000,\"timezone\":\"America/New_York\",\"timezone_abbreviation\":\"GMT-5\",\"elevation\":4.0,\"daily_units\":{\"time\":\"iso8601\",\"weather_code\":\"wmo
        code\",\"temperature_2m_max\":\"\xB0F\",\"temperature_2m_min\":\"\xB0F\",\"apparent_temperature_max\":\"\xB0F\",\"apparent_temperature_min\":\"\xB0F\",\"sunrise\":\"iso8601\",\"sunset\":\"iso8601\",\"precipitation_sum\":\"inch\",\"precipitation_probability_max\":\"%\",\"wind_speed_10m_max\":\"mp/h\",\"wind_gusts_10m_max\":\"mp/h\",\"wind_direction_10m_dominant\":\"\xB0\",\"uv_index_max\":\"\",\"snowfall_sum\":\"inch\"},\"daily\":{\"time\":[\"2025-12-18\",\"2025-12-19\",\"2025-12-20\",\"2025-12-21\",\"2025-12-22\",\"2025-12-23\",\"2025-12-24\"],\"weather_code\":[3,65,3,3,3,71,3],\"temperature_2m_max\":[52.6,58.1,38.2,45.9,35.7,36.9,44.2],\"temperature_2m_min\":[23.9,32.1,31.6,27.6,27.4,31.7,32.4],\"apparent_temperature_max\":[46.4,50.2,30.0,34.8,26.2,28.6,36.6],\"apparent_temperature_min\":[17.2,20.2,20.1,15.9,15.6,24.2,26.7],\"sunrise\":[\"2025-12-18T07:15\",\"2025-12-19T07:16\",\"2025-12-20T07:16\",\"2025-12-21T07:17\",\"2025-12-22T07:17\",\"2025-12-23T07:18\",\"2025-12-24T07:18\"],\"sunset\":[\"2025-12-18T16:36\",\"2025-12-19T16:36\",\"2025-12-20T16:36\",\"2025-12-21T16:37\",\"2025-12-22T16:37\",\"2025-12-23T16:38\",\"2025-12-24T16:39\"],\"precipitation_sum\":[0.000,0.975,0.000,0.000,0.000,0.016,0.000],\"precipitation_probability_max\":[20,98,0,1,2,24,5],\"wind_speed_10m_max\":[9.9,25.1,16.8,17.8,13.5,13.6,8.6],\"wind_gusts_10m_max\":[20.8,50.6,39.6,43.4,30.6,36.5,24.8],\"wind_direction_10m_dominant\":[107,210,233,266,310,225,313],\"uv_index_max\":[2.70,1.35,2.60,2.55,2.50,1.10,2.35],\"snowfall_sum\":[0.000,0.000,0.000,0.000,0.000,0.110,0.000]}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
