interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?latitude=39.9643&longitude=-74.8099&current=temperature_2m&current=relative_humidity_2m&current=apparent_temperature&current=is_day&current=precipitation&current=weather_code&current=cloud_cover&current=pressure_msl&current=surface_pressure&current=wind_speed_10m&current=wind_direction_10m&current=wind_gusts_10m&current=uv_index&current=snowfall&current=snow_depth&current=visibility&daily=sunrise&daily=sunset&daily=uv_index_max&temperature_unit=fahrenheit&wind_speed_unit=mph&precipitation_unit=inch&timezone=auto&forecast_days=1
  response:
    body:
      string: "{\"latitude\":39.94885,\"longitude\":-74.79698,\"generationtime_ms\":0.25200843811035156,\"utc_offset_seconds\":-18000,\"timezone\":\"America/New_York\",\"timezone_abbreviation\":\"GMT-5\",\"elevation\":4.0,\"current_units\":{\"time\":\"iso8601\",\"interval\":\"seconds\",\"temperature_2m\":\"\xB0F\",\"relative_humidity_2m\":\"%\",\"apparent_temperature\":\"\xB0F\",\"is_day\":\"\",\"precipitation\":\"inch\",\"weather_code\":\"wmo
        code\",\"cloud_cover\":\"%\",\"pressure_msl\":\"hPa\",\"surface_pressure\":\"hPa\",\"wind_speed_10m\":\"mp/h\",\"wind_direction_10m\":\"\xB0\",\"wind_gusts_10m\":\"mp/h\",\"uv_index\":\"\",\"snowfall\":\"inch\",\"snow_depth\":\"ft\",\"visibility\":\"ft\"},\"current\":{\"time\":\"2025-12-18T19:45\",\"interval\":900,\"temperature_2m\":44.5,\"relative_humidity_2m\":94,\"apparent_temperature\":40.4,\"is_day\":0,\"precipitation\":0.000,\"weather_code\":3,\"cloud_cover\":100,\"pressure_msl\":1018.2,\"surface_pressure\":1017.7,\"wind_speed_10m\":5.6,\"wind_direction_10m\":106,\"wind_gusts_10m\":13.2,\"uv_index\":0.00,\"snowfall\":0.000,\"snow_depth\":0.000,\"visibility\":41010.500},\"daily_units\":{\"time\":\"iso8601\",\"sunrise\":\"iso8601\",\"sunset\":\"iso8601\",\"uv_index_max\":\"\"},\"daily\":{\"time\":[\"2025-12-18\"],\"sunrise\":[\"2025-12-18T07:15\"],\"sunset\":[\"2025-12-18T16:36\"],\"uv_index_max\":[2.70]}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?latitude=39.9643&longitude=-74.8099&daily=weather_code&daily=temperature_2m_max&daily=temperature_2m_min&daily=apparent_temperature_max&daily=apparent_temperature_min&daily=sunrise&daily=sunset&daily=precipitation_sum&daily=precipitation_probability_max&daily=wind_speed_10m_max&daily=wind_gusts_10m_max&daily=wind_direction_10m_dominant&daily=uv_index_max&daily=snowfall_sum&temperature_unit=fahrenheit&wind_speed_unit=mph&precipitation_unit=inch&timezone=auto&forecast_days=7
  response:
    body:
      string: "{\"latitude\":39.94885,\"longitude\":-74.79698,\"generationtime_ms\":0.7638931274414062,\"utc_offset_seconds\":-18000,\"timezone\":\"America/New_York\",\"timezone_abbreviation\":\"GMT-5\",\"elevation\":4.0,\"daily_units\":{\"time\":\"iso8601\",\"weather_code\":\"wmo
        code\",\"temperature_2m_max\":\"\xB0F\",\"temperature_2m_min\":\"\xB0F\",\"apparent_temperature_max\":\"\xB0F\",\"apparent_temperature_min\":\"\xB0F\",\"sunrise\":\"iso8601\",\"sunset\":\"iso8601\",\"precipitation_sum\":\"inch\",\"precipitation_probability_max\":\"%\",\"wind_speed_10m_max\":\"mp/h\",\"wind_gusts_10m_max\":\"mp/h\",\"wind_direction_10m_dominant\":\"\xB0\",\"uv_index_max\":\"\",\"snowfall_sum\":\"inch\"},\"daily\":{\"time\":[\"2025-12-18\",\"2025-12-19\",\"2025-12-20\",\"2025-12-21\",\"2025-12-22\",\"2025-12-23\",\"2025-12-24\"],\"weather_code\":[3,65,3,3,3,71,3],\"temperature_2m_max\":[52.6,58.1,38.2,45.9,35.7,36.9,44.2],\"temperature_2m_min\":[23.9,32.1,31.6,27.6,27.4,31.7,32.4],\"apparent_temperature_max\":[46.4,50.2,30.0,34.8,26.2,28.6,36.6],\"apparent_temperature_min\":[17.2,20.2,20.1,15.9,15.6,24.2,26.7],\"sunrise\":[\"2025-12-18T07:15\",\"2025-12-19T07:16\",\"2025-12-20T07:16\",\"2025-12-21T07:17\",\"2025-12-22T07:17\",\"2025-12-23T07:18\",\"2025-12-24T07:18\"],\"sunset\":[\"2025-12-18T16:36\",\"2025-12-19T16:36\",\"2025-12-20T16:36\",\"2025-12-21T16:37\",\"2025-12-22T16:37\",\"2025-12-23T16:38\",\"2025-12-24T16:39\"],\"precipitation_sum\":[0.000,0.975,0.000,0.000,0.000,0.016,0.000],\"precipitation_probability_max\":[20,98,0,1,2,24,5],\"wind_speed_10m_max\":[9.9,25.1,16.8,17.8,13.5,13.6,8.6],\"wind_gusts_10m_max\":[20.8,50.6,39.6,43.4,30.6,36.5,24.8],\"wind_direction_10m_dominant\":[107,210,233,266,310,225,313],\"uv_index_max\":[2.70,1.35,2.60,2.55,2.50,1.10,2.35],\"snowfall_sum\":[0.000,0.000,0.000,0.000,0.000,0.110,0.000]}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?latitude=39.9643&longitude=-74.8099&hourly=temperature_2m&hourly=relative_humidity_2m&hourly=apparent_temperature&hourly=precipitation_probability&hourly=precipitation&hourly=weather_code&hourly=pressure_msl&hourly=surface_pressure&hourly=cloud_cover&hourly=wind_speed_10m&hourly=wind_direction_10m&hourly=wind_gusts_10m&hourly=is_day&hourly=snowfall&hourly=uv_index&hourly=snow_depth&hourly=freezing_level_height&hourly=visibility&temperature_unit=fahrenheit&wind_speed_unit=mph&precipitation_unit=inch&timezone=auto&forecast_hours=48
  response:
    body:
      string: "{\"latitude\":39.94885,\"longitude\":-74.79698,\"generationtime_ms\":0.4818439483642578,\"utc_offset_seconds\":-18000,\"timezone\":\"America/New_York\",\"timezone_abbreviation\":\"GMT-5\",\"elevation\":4.0,\"hourly_units\":{\"time\":\"iso8601\",\"temperature_2m\":\"\xB0F\",\"relative_humidity_2m\":\"%\",\"apparent_temperature\":\"\xB0F\",\"precipitation_probability\":\"%\",\"precipitation\":\"inch\",\"weather_code\":\"wmo
        code\",\"pressure_msl\":\"hPa\",\"surface_pressure\":\"hPa\",\"cloud_cover\":\"%\",\"wind_speed_10m\":\"mp/h\",\"wind_direction_10m\":\"\xB0\",\"wind_gusts_10m\":\"mp/h\",\"is_day\":\"\",\"snowfall\":\"inch\",\"uv_index\":\"\",\"snow_depth\":\"ft\",\"freezing_level_height\":\"ft\",\"visibility\":\"ft\"},\"hourly\":{\"time\":[\"2025-12-18T19:00\",\"2025-12-18T20:00\",\"2025-12-18T21:00\",\"2025-12-18T22:00\",\"2025-12-18T23:00\",\"2025-12-19T00:00\",\"2025-12-19T01:00\",\"2025-12-19T02:00\",\"2025-12-19T03:00\",\"2025-12-19T04:00\",\"2025-12-19T05:00\",\"2025-12-19T06:00\",\"2025-12-19T07:00\",\"2025-12-19T08:00\",\"2025-12-19T09:00\",\"2025-12-19T10:00\",\"2025-12-19T11:00\",\"2025-12-19T12:00\",\"2025-12-19T13:00\",\"2025-12-19T14:00\",\"2025-12-19T15:00\",\"2025-12-19T16:00\",\"2025-12-19T17:00\",\"2025[...]
