interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://geocoding-api.open-meteo.com/v1/search?count=6&format=json&language=en&name=New
  response:
    body:
      string: '{"results":[{"id":2328765,"name":"Nnewi","latitude":6.01962,"longitude":6.91729,"elevation":151.0,"feature_code":"PPLA2","country_code":"NG","admin1_id":2349961,"admin2_id":8638038,"timezone":"Africa/Lagos","population":193987,"country_id":2328926,"country":"Nigeria","admin1":"Anambra","admin2":"Nnewi
        North"},{"id":4302308,"name":"New","latitude":38.42785,"longitude":-84.8105,"elevation":197.0,"feature_code":"PPL","country_code":"US","admin1_id":6254925,"admin2_id":4303402,"timezone":"America/New_York","country_id":6252001,"country":"United
        States","admin1":"Kentucky","admin2":"Owen"},{"id":5101798,"name":"Newark","latitude":40.73566,"longitude":-74.17237,"elevation":9.0,"feature_code":"PPLA2","country_code":"US","admin1_id":5101760,"admin2_id":5097707,"admin3_id":5101815,"timezone":"America/New_York","population":281944,"postcodes":["07101","07102","07103","07104","07105","07106","07107","07108","07112","07114","07175","07184","07188","07189","07191","07192","07193","07195","07198","07199"],"country_id":6252001,"country":"United
        States","admin1":"New Jersey","admin2":"Essex","admin3":"City of Newark"},{"id":4330381,"name":"Lakefront
        Airport","latitude":30.03593,"longitude":-90.02561,"elevation":1.0,"feature_code":"AIRP","country_code":"US","admin1_id":4331987,"admin2_id":4336191,"admin3_id":4335053,"timezone":"America/Chicago","country_id":6252001,"country":"United
        States","admin1":"Louisiana","admin2":"Orleans","admin3":"City of New Orleans"},{"id":5389489,"name":"Sacramento","latitude":38.58157,"longitude":-121.4944,"elevation":9.0,"feature_code":"PPLA","co[...]
