interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://air-quality-api.open-meteo.com/v1/air-quality?latitude=39.9643&longitude=-74.8099&hourly=us_aqi%2Cpm2_5%2Cpm10%2Cozone%2Cnitrogen_dioxide%2Csulphur_dioxide%2Ccarbon_monoxide&timezone=auto
  response:
    body:
      string: "{\"latitude\":40.0,\"longitude\":-74.799995,\"generationtime_ms\":0.5383491516113281,\"utc_offset_seconds\":-18000,\"timezone\":\"America/New_York\",\"timezone_abbreviation\":\"GMT-5\",\"elevation\":4.0,\"hourly_units\":{\"time\":\"iso8601\",\"us_aqi\":\"USAQI\",\"pm2_5\":\"\u03BCg/m\xB3\",\"pm10\":\"\u03BCg/m\xB3\",\"ozone\":\"\u03BCg/m\xB3\",\"nitrogen_dioxide\":\"\u03BCg/m\xB3\",\"sulphur_dioxide\":\"\u03BCg/m\xB3\",\"carbon_monoxide\":\"\u03BCg/m\xB3\"},\"hourly\":{\"time\":[\"2025-12-18T00:00\",\"2025-12-18T01:00\",\"2025-12-18T02:00\",\"2025-12-18T03:00\",\"2025-12-18T04:00\",\"2025-12-18T05:00\",\"2025-12-18T06:00\",\"2025-12-18T07:00\",\"2025-12-18T08:00\",\"2025-12-18T09:00\",\"2025-12-18T10:00\",\"2025-12-18T11:00\",\"2025-12-18T12:00\",\"2025-12-18T13:00\",\"2025-12-18T14:00\",\"2025-12-18T15:00\",\"2025-12-18T16:00\",\"2025-12-18T17:00\",\"2025-12-18T18:00\",\"2025-12-18T19:00\",\"2025-12-18T20:00\",\"2025-12-18T21:00\",\"2025-12-18T22:00\",\"2025[...]
