      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y libgtk-3-dev libsdl2-dev libnotify-dev xvfb
          pip install -f https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-24.04 wxPython
          pip install -r requirements-dev.txt -e .